/* Write your code here */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'roboto';
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}

.reviews-container {
  display: flex;
  margin-top: 40px;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.custom-btn {
  background-color: transparent;
  border-width: 0;
  outline: none;
  cursor: pointer;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  list-style-type: none;
}

.custom-image {
  width: 100px;
  height: 100px;
}
.user-name {
  font-family: 'roboto';
  font-size: 20px;
  color: #ffffff;
}
.company-name {
  font-family: 'roboto';
  color: #171f46;
}
.discription {
  color: #171f46;
  text-align: center;
  font-family: 'roboto';
}
@media (max-width: 576px) {
  .discription {
    font-size: 14px;
  }
  .review-container {
    width: 60%;
  }
  .user-name {
    font-size: 15px;
    font-family: 'Bree Serif';
  }
  .custom-image {
    width: 80px;
    height: 80px;
  }
  .company-name {
    font-weight: 600;
  }
  .heading {
    padding-top: 15px;
  }
}
